@font-face {
    font-family: "montserrat";
    src: url("/fonts/montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: "montserrat-regular";
    src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "montserrat-semi";
    src: url("/fonts/montserrat/Montserrat-SemiBold.ttf");
}

html body {
    background-color: #FBF6EF;
    margin: 0;
    padding: 0;
}

#intro {
    font-size: 3rem;
    font-family: "montserrat", sans-serif;
}

#name {
    font-size: 1rem;
    font-family: "montserrat-regular", sans-serif;
    padding-bottom: 1rem;
}

#intro-blurb {
    font-size: 1.2rem;
    font-family: Courier, sans-serif;
    padding-top: 4rem;
    border-top-style: solid;
}

#penguin {
    height: 8rem;
    width: auto;
    padding-top: 1rem;
}

.nav-item {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

li>a {
    position: relative;
    color: gray;
    text-decoration: none;
}

li>a:hover {
    color: black;
}

li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

li>a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#color-block-inner {
    height: 70%;
    width: 35%;
    background-color: #8EC2F6;
    position: fixed;
    margin-left: 5rem;
}

#color-block-outer {
    height: 50%;
    width: 25%;
    background-color: #B4D7F9;
    position: fixed;
    margin-left: 20rem;
    margin-top: 5rem;
    box-shadow: -10px 10px 5px #3F4050;
}

#nav {
    background-color: #FBF6EF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
}

#page-links {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

#typewriters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
}

#color-block {
    height: 35rem;
    width: auto;
}

.section-body {
    padding: 3rem 3rem 5rem 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FBF6EF;
}

#about-text {
    width: 40%;
    font-size: 18px;
    font-family: "montserrat-regular", sans-serif;
}

#head-text {
    font-size: 18px;
    font-family: Courier, sans-serif;
    text-align: center;
    color: black;
    background-color: #CEE5F2;
    margin: 0;
}

#page-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 5rem;
}

#headshot {
    width: 30%;
    height: auto;
    box-shadow: 20px 20px #B4D7F9;
}

.project-box:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.project-photo {
    width: 30rem;
    height: 285px;
    object-fit: cover;
}

.project-desc {
    padding: 1rem 1.5rem .5rem 1.5rem;
    border-top-style: solid;
    border-top-color: #3F4050;
    border-top-width: 1px;
}

.project-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: -0.8rem;
}

.project-title {
    font-family: "montserrat", sans-serif;
    font-size: 2rem;
    margin-bottom: .3rem;
}

.project-box {
    width: 30rem;
    height: 30rem;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 5rem;
}

.blurb {
    font-family: "montserrat-regular";
    padding-top: .5rem;
}

.category {
    color: white;
    height: auto;
    width: auto;
    padding: .2rem .5rem .2rem .5rem;
    display: inline-block;
    font-family: sans-serif;
    font-size: small;
    border-radius: 18px;
    margin-right: .5rem;
}

.category.design {
    background-color: #907F9F;
}

.category.development {
    background-color: #CC8B8C;
}

.category.machine {
    background-color: #1D7BC3;
}

.category.data {
    background-color: #4B8943;
}

.category.product {
    background-color: #B0611C;
}

.development:after {
    content: "development";
}

.design:after {
    content: "design";
}

.machine::after {
    content: "machine learning";
}

.data::after {
    content: "data analysis";
}

.product::after {
    content: "product";
}

.foot {
    background-color: #FBF6EF;
    text-align: center;
    color: gray;
    font-style: italic;
    padding-bottom: 1rem;
}

.foot-short {
    padding-top: 2rem !important;
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}

a>i {
    color: gray;
}

a>i:hover {
    color: black;
    transition: color 0.3s ease-in-out;
}

#b-link {
    background-color: #FFFBCC;
    text-decoration: underline;
    color: black;
}

#b-link:hover, .piece-title:hover {
    filter: saturate(2);
    color: gray;
    /* transition: filter 0.3s ease-in-out; */
    transition: color 0.3s ease;
}

#musings-body, #piece-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBF6EF;
}

.musings-piece {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 3rem;
    border-bottom-style: solid;
    border-bottom-color: #444444;
    border-bottom-width: 2px;
}

.piece-title {
    font-family: "montserrat-semi", sans-serif;
    font-size: 2rem;
    background-color: #FFFBCC;
    color: black;
}

#piece-title-main {
    font-family: "montserrat-semi", sans-serif;
    font-size: 2rem;
    color: black;
    align-items: flex-start;
    width: 40%;
    padding-top: 2rem;
}

.piece-date {
    font-family: Courier;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.piece-desc {
    font-family: "montserrat-regular", sans-serif;
    font-style: italic;
}

#piece-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 3rem;
    font-family: "montserrat-regular", sans-serif;
    padding-bottom: 5rem;
}

#video {
    padding-top: 2rem;
}

#hello {
    display: none;
}

/* mobile design */

@media (max-width: 1025px) {
    #nav {
        justify-content: center;
    }
    #color-block {
        content: url("images/pengwing.png");
        flex: 0 1 auto;
        margin-right: auto;
        height: 40rem;
    }
    #typewriters {
        width: 90%;
    }
    #logo {
        display: none;
    }
    #hello {
        display: inline;
    }
    #intro {
        font-size: 6rem;
        margin-bottom: 2rem;
        height: 288px;
    }
    #name {
        font-size: 3rem;
        padding-bottom: 1rem;
        height: 160px;
    }
    #intro-blurb {
        font-size: 2rem;
        padding-top: 5rem;
        width: 90%;
    }
    #intro-blurb>p {
        margin-bottom: 4rem;
        width: 70%;
    }
    .foot {
        padding-top: 2rem;
        position: relative;
        bottom: 2rem;
        width: 100%;
        font-size: 1.5rem;
    }
    #page-links {
        padding-top: 4rem;
    }
    .nav-item {
        font-size: 2.2rem;
    }
    #head-text {
        display: none;
    }
    #about-body {
        display: flex;
        flex-direction: column-reverse;
    }
    #about-text {
        width: 85%;
        font-size: 2rem;
    }
    #headshot {
        margin-top: 3rem;
        margin-bottom: 5rem;
        height: 50rem;
        width: auto;
    }
    .project-photo {
        width: 50rem;
        height: 545px;
    }
    .project-desc {
        padding: 1rem 2rem 0 2rem;
    }
    .project-title {
        font-size: 3.5rem;
    }
    .project-box {
        width: 50rem;
        height: 51rem;
    }
    #project-body {
        margin-top: 5rem;
    }
    .blurb {
        font-size: 1.5rem;
    }
    .category {
        font-size: large;
    }
    .musings-piece {
        width: 80%;
    }
    .piece-title {
        font-size: 3.5rem;
    }
    #piece-title-main {
        font-size: 4rem;
        width: 85%;
    }
    .piece-date, .piece-desc {
        font-size: 1.5rem;
        width: 85% !important;
    }
    #musings-body, #piece-body {
        margin-top: 4rem;
    }
    #page-icons {
        display: flex;
        flex-direction: column;
        font-size: x-large;
    }
    #page-icons>a {
        margin: 2rem 0;
        text-align: center;
    }
    #piece-text {
        width: 85%;
        font-size: 2rem;
        padding-bottom: 15rem;
    }
}