html {
    background: url("images/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "montserrat";
    src: url("/fonts/montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: "montserrat-regular";
    src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "montserrat-semi";
    src: url("/fonts/montserrat/Montserrat-SemiBold.ttf");
}

.my-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.my-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-col-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* CHANGE TO ZERO OPACITY */

.nav-button {
    width: 70%;
    background-color: rgba(255, 255, 255, .5);
    padding: .7rem;
    border-radius: 15px;
    margin-bottom: .7rem;
}

.tab-icon {
    text-align: center;
    width: 15%;
    margin-right: .75rem;
}

.nav-button>* {
    font-family: "montserrat-regular", sans-serif;
    margin-left: .5rem;
    font-size: 1.2rem;
}

.nav-button>div>p {
    margin: 3px;
}

/* display for laptop */

@media (max-width: 1520px) {
    .app {
        width: 100vw;
        height: 100vh;
        padding: 5rem;
    }
    .glass-card {
        background-color: rgba(255, 255, 255, .25);
        border-radius: 70px;
        display: inline-block;
    }
    .sidebar {
        background-color: rgba(255, 255, 255, .55);
        border-radius: 70px 0 0 70px;
        width: 20rem;
        height: 80vh;
    }
    .home {
        background-color: rgba(255, 255, 255, .25);
        width: calc(100vw - 20vh - 20rem);
        height: 80vh;
        border-radius: 0 70px 70px 0;
        display: inline-block;
    }
}